@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

// cores neutras
$black: #000000;
$dark-gray: #333;
$gray: #666;
$light-gray: #999;
$white: #fff;

// cores de destaque
$dark-pink: #f95e7e;
$pink: #fd90a3;
$medium-pink: #f1a8b1;
$light-pink: #f9d9dc;

// boz shadow
$pink-shadow: #f95e7d2f;
$black-shadow: #0000001a;

// fontes
$font-subtitle: "Outfit", sans-serif;
$font-body: "Poppins", sans-serif;

// tamanhos de fonte
$font-size-title: 3.3rem;
$font-size-subtitle: 2.2rem;
$font-size-medium: 1.5rem;
$font-size-body-text: 1.2rem;
$font-size-small: 1rem;

$font-medium: 500;
$font-bold: 600;

